* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*******UTILITY******/
.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.debug {
  border: 1px solid blue;
}

.debug2 {
  background-color: brown;
}

.contenitore {
  height: calc(100vh - 90px);
  overflow: hidden;
}

.playlist ul li:hover,
.profile span:hover {
  color: white;
}

li {
  list-style: none;
  color: #7e8084;
}

/*******BAR LEFT HOME******/

.bar-left {
  width: 225px;
  height: 100%;
  background-color: black;
  color: #7e8084;
}
/*****START HOME*****/
.home {
  height: 210px;
}



.home li img {
  width: 30px;
  vertical-align: middle;
}

.text-home {
  color: white;
  border-left: 2px solid greenyellow;
}

.logo {
  width: 160px;
  padding: 20px;
}
/******INIZIO PLAYLIST***/

.playlist {
  height: calc(100% - 90px - 210px);
  overflow-y: auto;
}

.playlist span {
  color: white;
  padding-top: 10px;
}

.home ul li,
.playlist,
.profile {
  padding: 5px 10px;
}

.playlist ul li {
  padding-top: 20px;
}

.fa-plus {
  background-color: gainsboro;
  padding: 10px;
  color: black;
  font-size: 1.6rem;
}

li i.fa-plus:hover {
  color: white;
}

/****START PROFILE*****/
.profile {
  height: 90px;
}

.box-profile img {
  width: 15px;
}

.box-profile hr {
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
}

.user {
  padding-top: 10px;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7e8084;
}

.user span {
  vertical-align: super;
  color: white;
}

/****START TOP-BAR*****/

.top-bar {
  width: calc(100vw - 225px);
  position: fixed;
  height: 90px;
  z-index: 999;
  top: 0;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0,0.7);
}

.bt-movibile{
  height: 50%;
  padding-right: 25px;
}

.bottone-movibile {
  display: inline-block;
  padding: 12px 40px;
  background-color: #000000;
  color: #fff;
  transition: transform 0.1s ease;
  border-radius: 30px ;
  font-weight: bold;
  font-size: 1.1rem;
  border: 1px solid #fff;

}

.bottone-movibile:hover {
  transform: translateY(-5px);
 padding: 16px 50px;
 font-size: 1.2rem;
}
/******START CONTENITORE BIG**/

.content {
  width: calc(100vw - 225px);
  overflow-y: auto;
  background-color: #141922;
}

.container-card h3 , h2 {
  color: white;
}

.container-card span , p{
  color: #7e8084;
}


.list-content li {
  font-weight: bold;
  display: inline-block;
  padding: 20px;
}

.list-content {
  flex-wrap: wrap;
}

.list-content li:first-child::after {
  content: "";
  display: block;
  position: relative;
  width: 40%;
  border: 2px solid #0ed600;
  margin-top: 8px;
  margin-left: 30px;
}

.content-topbar {
  padding-top: 100px;
}

.row{
padding: 20px;
flex-wrap: wrap;
}

.col {
  padding:10px;
  width: 100%;

}

.container-card .col{
  width: calc(100% / 6 - 4px);
}

.col{
  padding: 10px;
}

.card-title {
  padding-left: 30px;
}

.card{
  flex-direction: column;
  align-items: center
}

.card-img img {
 object-fit: cover;
 max-width: 100%;
}

.card-img .radius-img{
  border-radius: 50%;
}

.card-text{
  text-align: center;
}

/******START BAR BOTTOM***/
.bar-bottom {
  height: 90px;
}

.playlist-bottom {
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.box-song img{
  width: 60px;
  vertical-align: middle;
}

.box-text-song{
  align-self: center;
  flex-direction: column;
  
}

.box-text-song h4{
  font-size: 0.9rem;
}

.box-text-song p{
  font-size: 0.7rem;
}

.playlist-control {
  width: 40%;
}
